
.wrapper {
    padding: 10px;
    background: #ecf5f8;
    border-radius: 10px;
    border-bottom: 2px solid #dfdfdf;
    overflow-y: auto;
}

.message_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow-y: auto;
}
