
.chat_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    width: 100%;
    padding-bottom: 5px;
}

.chat_title img {
    height: 80%;
    width: auto;
    border-radius: 5px;
}

.chat_name {
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.last_message {
    margin-left: 10px;
    font-size: 10px;
    color: #878787;
}
